.brand-story {
    padding: 50px 90px;
    background-color: #fff;
}

.brand-story h3 {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: left; /* 텍스트 왼쪽 정렬 */
    margin-bottom: 20px; /* 아래 요소와의 간격 */
}

.brand-story p {
    font-size: 1.7rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
}

.brand-story hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.story-content {
    display: flex; /* Flexbox로 가로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between; /* 양쪽으로 정렬 */
    gap: 20px; /* 텍스트와 이미지 사이 간격 */
}

.story-text {
    flex: 1; /* 텍스트가 이미지와 동일한 비율로 차지 */
}

.story-text h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.story-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.story-image {
    flex:1; /* 이미지가 텍스트와 동일한 비율로 차지 */
    text-align: center;
}
.story-image img {
    width: 60% !important; /* 이미지 너비를 20%로 강제 설정 */
    height: auto !important; /* 이미지 비율 유지 */
    max-width: none; /* max-width 제한을 제거 */
    border-radius: 10px; /* 모서리를 둥글게 (선택 사항) */
    margin: 0 auto;
}